<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.HelloWorld</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/helloWorld</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListHotels</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.ListHotels</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListHotels</servlet-name>
		<url-pattern>/listHotels</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>ViewHotel</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.ViewHotel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewHotel</servlet-name>
		<url-pattern>/viewHotel</url-pattern>
	</servlet-mapping>
</web-app>
